@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --outline-color: #909095;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100vh;
  width: 100%;

  padding: 5%;
}

.search-panel {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

input {
  border: solid 1px var(--outline-color);
  border-radius: 5px;
  padding: 5px;
}

.search-button, .clear-button {
  cursor: pointer;
  background-color: darkgoldenrod;
  padding-inline: 15px;
  border-radius: 5px;
  border: none;
}

